{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Sector list</h4>
            </td>
            <td><a href="{% url 'operations:costcenter_create' %}" class="btn btn-primary float-right">New cost center</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for cost_center in object_list %}
        <tr>
            <td>{{ cost_center.name }}</td>
            <td>
                <a href="{% url 'operations:costcenter_update' pk=cost_center.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'operations:costcenter_delete' pk=cost_center.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}