{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Expense category list</h4>
            </td>
            <td><a href="{% url 'operations:expensecategory_create' %}" class="btn btn-primary float-right">New expense category</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for expensecategory in object_list %}
        <tr>
            <td>{{ expensecategory.name }}</td>
            <td>
                <a href="{% url 'operations:expensecategory_update' pk=expensecategory.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'operations:expensecategory_delete' pk=expensecategory.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
