{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Income category list</h4>
            </td>
            <td><a href="{% url 'operations:incomecategory_create' %}" class="btn btn-primary float-right">New income category</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for incomecategory in object_list %}
        <tr>
            <td>{{ incomecategory.name }}</td>
            <td>
                <a href="{% url 'operations:incomecategory_update' pk=incomecategory.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'operations:incomecategory_delete' pk=incomecategory.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
