{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Repayment list</h4>
            </td>
            <td><a href="{% url 'operations:repayment_create' %}" class="btn btn-primary float-right">New repayment</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Loan amount</th>
        <th>Paid amount</th>
        <th>Date</th>

        {% for repayment in object_list %}
        <tr>
            <td>{{ repayment.project.name }}</td>
            <td>{{ repayment.loan_amount}}</td>
            <td>{{ repayment.paid_amount}}</td>
            <td>{{ repayment.date}}</td>
            <td>
                <a href="{% url 'operations:repayment_update' pk=repayment.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'operations:repayment_delete' pk=repayment.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
