{% extends 'base/index.html' %}

{% block body %}
<form method="POST">
    <h3>Create employee type</h3>
    <table class="table">
        {% csrf_token %}
        {{form}}
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
{% endblock %}