{% extends 'base/index.html' %}

{% block body %}
    <h3>Employee type details</h3>
    <table class="table">
        <th>Name</th>
        <tr>
            <td>{{ employee_type.name }}</td>
        </tr>
    </table>

{% endblock %}