{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Employee list</h4>
            </td>
            <td>
                <a href="{% url 'projects:employee_create' %}" class="btn btn-primary float-right">New employee</a>
            </td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Full name</th>
        <th>Project</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Employee type</th>
        <th>Actions</th>

        {% for employee in object_list %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.project}}</td>
            <td>{{ employee.date_of_birth }}</td>
            <td>{{ employee.get_gender_display }}</td>
            <td>{{ employee.employee_type }}</td>
            <td>
                <a href="{% url 'projects:employee_update' pk=employee.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'projects:employee_delete' pk=employee.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}