{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Employee type list</h4>
            </td>
            <td>
                <a href="{% url 'projects:employeetype_create' %}" class="btn btn-primary float-right">New employee type</a>
            </td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for employee_type in object_list %}
        <tr>
            <td>{{ employee_type.name }}</a></td>
            <td>
                <a href="{% url 'projects:employeetype_update' pk=employee_type.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'projects:employeetype_delete' pk=employee_type.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}