{% extends 'base/index.html' %}

{% block body %}
<table width="100%">
    <tr>
        <td>
            <h4>Partner list</h4>
        </td>
        <td><a href="{% url 'projects:partner_create' %}" class="btn btn-primary float-right">New partner</a></td>
    </tr>
</table>
<br>
<table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for partner in object_list %}
        <tr>
            <td>{{ partner.name }}</td>
            <td>
                <a href="{% url 'projects:partner_update' pk=partner.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'projects:partner_delete' pk=partner.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}