{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Project list</h4>
            </td>
            <td>
                <a href="{% url 'projects:project_create' %}" class="btn btn-primary float-right">New project</a>
            </td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>District</th>
        <th>Partner</th>
        <th>Owner</th>
        <th>Partner contribution</th>
        <th>Own contribution</th>
        <th>Other contribution</th>
        <th>Sector</th>
        <th>Establish year</th>
        <th>Contact phone</th>
        <th>Contact email</th>

        {% for project in object_list %}
        <tr>
            <td><a href="{% url 'projects:project_details' pk=project.pk %}">{{ project.name }}</a></td>
            <td>{{ project.district }}</td>
            <td>{{ project.partner }}</td>
            <td>{{ project.owner }}</td>
            <td>{{ project.partner_contribution }}</td>
            <td>{{ project.own_contribution }}</td>
            <td>{{ project.other_contribution }}</td>
            <td>{{ project.sector }}</td>
            <td>{{ project.establish_year }}</td>
            <td>{{ project.contact_phone }}</td>
            <td>{{ project.contact_email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}