{% extends 'base/index.html' %}

{% block body %}
    <h3>Project details</h3>
    <table class="table">
        <th>Name</th>
        <th>District</th>
        <th>Partner</th>
        <th>Owner</th>
        <th>Partner contribution</th>
        <th>Own contribution</th>
        <th>Other contribution</th>
        <th>Sector</th>
        <th>Establish year</th>
        <th>Contact phone</th>
        <th>Contact email</th>
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.district }}</td>
            <td>{{ project.partner }}</td>
            <td>{{ project.owner }}</td>
            <td>{{ project.partner_contribution }}</td>
            <td>{{ project.own_contribution }}</td>
            <td>{{ project.other_contribution }}</td>
            <td>{{ project.sector }}</td>
            <td>{{ project.establish_year }}</td>
            <td>{{ project.contact_phone }}</td>
            <td>{{ project.contact_email }}</td>
        </tr>
    </table>


    <table width="100%">
        <th>Expenses</th>
        <th>&nbsp;</th>
        <th>Income</th>
        <tr>
            <td>
                <table class="table">
                    <th>Cost center</th>
                    <th>Expense category</th>
                    <th>Employee</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Created at</th>

                    {% for expense in project.expenses_set.all %}
                        <tr>
                            <td>{{ expense.cost_center.name }}</td>
                            <td>{{ expense.expense_category.name }}</td>
                            <td>{{ expense.employee.get_full_name }}</td>
                            <td>{{ expense.amount }}</td>
                            <td>{{ expense.comment }}</td>
                            <td>{{ expense.created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>

            <td></td>

            <td>
                <table class="table">
                    <th>Cost center</th>
                    <th>Expense category</th>
                    <th>Employee</th>
                    <th>Amount</th>
                    <th>Comment</th>
                    <th>Created at</th>

                    {% for expense in project.expenses_set.all %}
                        <tr>
                            <td>{{ expense.cost_center.name }}</td>
                            <td>{{ expense.expense_category.name }}</td>
                            <td>{{ expense.employee.get_full_name }}</td>
                            <td>{{ expense.amount }}</td>
                            <td>{{ expense.comment }}</td>
                            <td>{{ expense.created_at }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>
{% endblock %}