{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Country list</h4>
            </td>
            <td><a href="{% url 'base:country_create' %}" class="btn btn-primary float-right">New country</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for country in object_list %}
        <tr>
            <td>{{ country.name }}</td>
            <td>
                <a href="{% url 'base:country_update' pk=country.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'base:country_delete' pk=country.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}