{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>District list</h4>
            </td>
            <td><a href="{% url 'base:district_create' %}" class="btn btn-primary float-right">New district</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for district in object_list %}
        <tr>
            <td>{{ district.name }}</td>
            <td>
                <a href="{% url 'base:district_update' pk=district.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'base:district_delete' pk=district.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}