<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>accelerate prosperity</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <style>
      .starter-template {
        margin-top: 75px;
        margin-left: 10px;
        margin-right: 10px;
      }

      /* change the background color */
    .navbar{
        background-color: rgb(199, 255, 198) !important;
    }
    /* change the brand and text color */
    .navbar .navbar-brand,
    .navbar .navbar-text {
        color: rgba(24, 56, 212, 0.8) !important;
        padding: 0.8rem 1rem !important;
    }
    /* change the link color and add padding for height */
    .navbar .navbar-nav .nav-link {
        color: rgba(24, 56, 212, 0.8) !important;
        padding: 1rem 1rem !important;
    }
    /* change the color of active or hovered links */
    .navbar .nav-item.active .nav-link,
    .navbar .nav-item:hover .nav-link {
        color: rgba(24, 56, 212, 0.8) !important;
        background-color: rgb(32, 209, 29) !important; /* add background-color to active links */
    }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Accelerate prosperity</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Directories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'projects:project_list' %}">Projects</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'operations:incomecategory_list' %}">Income categories</a>
              <a class="dropdown-item" href="{% url 'operations:expensecategory_list' %}">Expense categories</a>
              <a class="dropdown-item" href="{% url 'operations:repayment_list' %}">Repayment</a>
              <a class="dropdown-item" href="{% url 'operations:costcenter_list' %}">Cost centres</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'base:country_list' %}">Countries</a>
              <a class="dropdown-item" href="{% url 'base:district_list' %}">Districts</a>
              <a class="dropdown-item" href="{% url 'base:region_list' %}">Regions</a>
              <a class="dropdown-item" href="{% url 'base:sector_list' %}">Sectors</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'projects:employee_list' %}">Employees</a>
              <a class="dropdown-item" href="{% url 'projects:employeetype_list' %}">Employee types</a>
              <a class="dropdown-item" href="{% url 'projects:partner_list' %}">Partners</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
            </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>


    <main role="main" class="container-fluid">

      <div class="starter-template">
        <br>
        {% block body %} {% endblock %}
      </div>

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
