{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Region list</h4>
            </td>
            <td><a href="{% url 'base:region_create' %}" class="btn btn-primary float-right">New region</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for region in object_list %}
        <tr>
            <td>{{ region.name }}</td>
            <td>
                <a href="{% url 'base:region_update' pk=region.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'base:region_delete' pk=region.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}