{% extends 'base/index.html' %}

{% block body %}
    <table width="100%">
        <tr>
            <td>
                <h4>Sector list</h4>
            </td>
            <td><a href="{% url 'base:sector_create' %}" class="btn btn-primary float-right">New sector</a></td>
        </tr>
    </table>
    <br>
    <table class="table">
        <th>Name</th>
        <th>Actions</th>

        {% for sector in object_list %}
        <tr>
            <td>{{ sector.name }}</td>
            <td>
                <a href="{% url 'base:sector_update' pk=sector.pk %}"><i class="fas fa-edit" style="color: blue"></i></a>
                <a href="{% url 'base:sector_delete' pk=sector.pk %}"><i class="fas fa-eraser" style="color: red"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}